@mixin flex($alignItems,$justifyContent) {
    display: flex;
    align-items: $alignItems;
    justify-content: $justifyContent;
}

@mixin smallScreen {
    @media only screen and (max-width: $small-screen-width) {
        @content;
    }
}

@mixin desktop {
    @media only screen and (max-width: $desktop-width) {
        @content;
    }
}

@mixin tablet {
    @media only screen and (max-width: $tablet-width) {
        @content;
    }
}

@mixin mobile {
    @media only screen and (max-width: $mobile-width) {
        @content;
    }
}