$main-color:#070707;
$gray-opacity:#07070780;
$gray-primary:#8A8A8F;
$red-primary:#FF3B30;

$header-hight:92px;

$colors: (
    "blue":#0000ff,
    "white":#ffffff,
    "black":#000000,
    "red":#ff0000,
    "yellow":#ffff00,
    "gray":#808080,
    "pink":#ffc0cb,
    "brown":#a52a2a,
    "green":#008000,
);

$numbers: (1,2,3,4,5);

$mobile-width:540px;
$tablet-width:768px;
$desktop-width:1024px;
$small-screen-width:1200px;

