.cart {
    margin: 50px 0;
    gap: 50px;
    @include flex(flex-start, space-between);

    @include desktop {
        gap: 30px;
    }

    @include tablet{
        flex-direction: column;
    }

    &__empty {
        text-align: center;
        margin-top: 50px;

        &__title {
            font-size: 2.6rem;
            margin-bottom: 10px;
        }

        &__link {
            @include flex(center,center);
            font-size: 1.8rem;
            color: #0000ff;

            &__icon {
                margin-left: 5px;
                @include flex(center,unset);
                transition: all 0.3s ease;
            }

            &:hover {
                .cart__empty__link__icon {
                    transform: translateX(10px);
                }
            }
        }
    }

    &__info {
        flex: 1;
        padding: 15px;
        background-color: #ffffff;
        border-radius: 5px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

        @include tablet {
            min-width:60%;
            margin-left: auto;
            margin-right: auto;
        }

        @include mobile {
            min-width: 100%;
        }

        &__title {
            font-size: 1.8rem;
            text-align: center;
            margin-bottom: 15px;
            
            span {
                color: #f03838;
            }

            @include desktop {
                font-size: 1.6rem;
            }
        }

        &__price {
            @include flex(center, space-between);
            margin-bottom: 15px;

            span {
                &:nth-child(1) {
                    font-size: 1.4rem;
                }

                &:nth-child(2) {
                    font-size: 1.7rem;
                    font-weight: 600;
                    color: #f03838;
                }
            }
        }

        &__btn {
            & > * ~ * {
                display: block;
                margin-top: 10px;
            }

            &__item {
                width: 100%;
                padding: 8px 0;
                border: 1px solid $main-color;
                background-color: #ffffff;
                color: $main-color;
                font-size: 1.5rem;
                transition: all 0.1s ease;
                cursor: pointer;

                &:hover {
                    background-color: $main-color;
                    color: #ffffff;
                }
            }
        }
    }

    &__list {
        flex: 2;

        @include tablet {
            min-width:100%;
        }

        & > * ~ * {
            margin-top: 15px;
        }
    }

    &__item {
        height: 155px;
        @include flex(flex-start, flex-start);
        position: relative;

        &__img {
            height: 100%;

            img {
                height: 100%;
                object-fit: contain;
            }
        }

        &__info {
            flex: 1;
            padding: 5px 0 5px 30px;
            @include flex(flex-start, space-between);
            flex-direction: column;
            height: 100%;
            max-height: 100%;
            border: 1px solid #ebe5e5;

            @include mobile {
                padding: 5px 0 5px 10px;
            }

            &__name {
                font-size: 1.8rem;

                @include desktop {
                    font-size: 1.6rem;
                }
            }

            &__style {
                &__color {
                    @include flex(flex-start, flex-start);

                    &__item {
                        width: 30px;
                        height: 30px;
                        border-radius: 100rem;
                        border: 1px solid #ccc;
                        margin-right: 10px;
                    }
                }

                &__size {
                    margin-top: 10px;
                    padding: 5px;
                    border: 1px solid #ccc;
                    font-size: 1.2rem;
                    font-weight: 600;
                    display: inline-block;
                }
            }

            &__total {
                @include flex(flex-start, flex-start);

                & > * {
                    margin-right: 15px;
                    display: inline-block;
                    font-size: 1.4rem;
                    font-weight: 600;
                }

                &__quantity {
                    color: #4444f1;
                }

                &__sale {
                    color: #f03838;
                }
            }
        }

        &__delete {
            position: absolute;
            top: 10px;
            right:10px;
            cursor: pointer;
            opacity: 0.4;

            &:hover {
                opacity: 1;
            }
        }
    }
}
