.header {
    &__container {
        height: 92px;
        width: 100%;
        max-width: 1370px;
        margin: 0 auto;
        padding: 15px 40px;
        @include flex(center, space-between);

        @include tablet {
            padding: 15px 20px;
        }

        @include mobile {
            padding: 15px 10px;
        }
    }

    &__logo {
        &__title {
            font-weight: bold;
            font-size: 4rem;
            font-family: 'Lobster', cursive;
            letter-spacing: 3px;
        }
    }

    &__menu__toggle {
        display: none;

        @include desktop {
            display: block;
            padding-top: 5px;
        }
    }

    &.fixed {
        position: sticky;
        top: 0;
        left: 0;
        right: 0;
        z-index: 99;
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
        background-color: white;
    }
}

.info {
    gap: 0 15px;
    @include flex(center, space-between);

    &__search {
        position: relative;
        height: 30px;
        width: 200px;

        @include smallScreen {
            position: fixed;
            top: 131px;
            right: -100%;
            z-index: 99;
            width: 35vw;
            box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
            height: 35px;
            transition: all 0.5s ease;

            &.active {
                right: 0;
            }
        }

        @include tablet {
            width: 45vw;
        }

        @include mobile {
            top: 129px;
            width: 55vw;
        }

        &__icon {
            height: 100%;
            width: 30px;
            background-color: black;
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            @include flex(center, center);
        }

        input {
            width: 100%;
            height: 100%;
            outline: none;
            border: 1px solid #ccc;
            padding-right: 30px;
            padding-left: 8px;
            font-size: 1.4rem;

            @include smallScreen {
                font-size: 1.6rem;
            }
        }
    }

    &__item {
        @include desktop {
            display: none;
        }

        &__link {
            font-size: 1.4rem;
            gap: 0 5px;
            @include flex(center, unset);
        }
    }

    &__search__toggle {
        padding-top: 5px;
        cursor: pointer;
        display: none;

        @include smallScreen {
            display: block;
        }
    }
}
